@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
}
html{
max-width: 100%;
}
body{
    font-family: 'Source Code Pro', monospace;
    overflow-x: hidden;
    width: 100%;
}
h1, h2, h5{
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}
a{
  text-decoration: none !important;
}
button{
  transition: all 0.5s;
}

.header0 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.836), rgba(20, 20, 20, 0.815)), url('./images/mainbgk.jpg');
    ;
    background-size: cover;
    object-fit: contain;
   background-attachment: fixed;
   background-repeat: no-repeat;
    animation: animSwing 2s ease 0s 1 normal forwards;
    height: 100vh;
    position: relative;
    width: 100vw;

}
nav{
  background-color:black;
  width: 100%;
  position: fixed;
  z-index:01;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: all 1s;
  

}
.nvbr{
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: end;
  width: 90vw;
  margin: 2rem;
  transition: all 1s;
  
}
.nvbr button{
  margin: 1rem;
  margin-bottom: 1rem;
  transition: all 1s;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

img{
  object-fit: contain;
}



.button {
    height: 50px;
    width: 200px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #ffffff;
    overflow: hidden;
    border-radius: 30px;
    color: #fffdfd;
    transition: all 0.5s ease-in-out;
    left: 10%;
    top: 60%;
    -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  
  .btn-txt {
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
  }
  
  .type1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #ffffff;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
  }
  
  .button:hover {
    box-shadow: 1px 1px 200px #ffffff;
    color: #141414;
    border: none;
  }
  
  .type1:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
  }
.inner-head span{
    position: absolute;
    color: grey;
    left: 5%;
    top: 30%;
    -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


  .content {
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translate(-50%, -50%);
    height: 160px;
    overflow: hidden;
    font-family: "Lato", sans-serif;
    font-size: 35px;
    line-height: 40px;
    color: rgb(255, 253, 253);
    width: 30vw;
    transform: scale(1.5);
    
  }
  .content__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;
  }
  .content__container:before {
    content: "[";
    left: 0;
  }
  .content__container:after {
    content: "]";
    position: absolute;
    right: 90px;
  }
  .content__container:after, .content__container:before {
    position: absolute;
    top: 0;
    color: #FFBD39;
    font-size: 42px;
    line-height: 40px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .content__container__text {
    display: inline;
    float: left;
    margin: 0;
  }
  .content__container__list {
    margin-top: 0;
    padding-left: 110px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    font-family: 'Source Code Pro', monospace;
  }
  .content__container__list__item {
    line-height: 40px;
    margin: 0;
  }
  
  @-webkit-keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @-webkit-keyframes change {
    0%, 12.66%, 100% {
      transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
      transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
      transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
      transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
      transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
      transform: translate3d(0, -25%, 0);
    }
  }
  @keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes change {
    0%, 12.66%, 100% {
      transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
      transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
      transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
      transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
      transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
      transform: translate3d(0, -25%, 0);
    }
  }



.about-sec{
    height: 65vh;
    
    transform: translateY(30%);
}
.h5-sm{
    display: flex;
    align-items: center;
}

.about-btn{
  transition: all 0.5s;
}
.profile-pic{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 10%;
    margin: 2rem;
}
.profile-sec{
    display: flex;
    align-items: center;
    margin-top: 3rem;
}
.profile-sec h5{
    line-height: 2rem;
    margin-left: 3rem;
    padding-right:1rem ;
}

.header1{
    height: 100vh;
    
}


.skill-head {

    text-align: left;
    
   
}
  .logo{
    width: 50px;
    height: 50px;
  }

  .language{
   margin-top: 1rem;

  }
  .skillItem {
    display: flex;
    align-items: center;

    
    justify-content: left;

  }
  .skill {
    width: 300px;
    height: 6px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 2rem;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.299);
   
  
  }
  .hundered {
    /* From https://css.glass */
    background: rgba(241, 101, 41, 0.687);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(241, 101, 41, 0.3);
    width: 270px;
    height: 6px;
    
  }
  .fifty {
    width: 200px;
    /* From https://css.glass */
    background: rgba(33, 98, 175, 0.77);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(33, 98, 175, 0.3);
    position: absolute;
  
    height: 6px;
  }
  .t5 {
    width: 160px;
    /* From https://css.glass */
    background: rgba(233, 202, 50, 0.78);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(233, 202, 50, 0.3);
    height: 6px;
  }
  .react-t5 {
    width: 120px;
    background: rgba(0, 204, 255, 0.78);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 204, 255, 0.3);
    height: 6px;
  }
  .mongo-t5 {
    width: 90px;
    background: rgba(81, 152, 72, 0.67);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(81, 152, 72, 0.3);
    height: 6px;
  }

.About{
    margin-top: 5rem;
}
.line{
    width: 100px;
   background-color: #16a085;
  height: 3px;
}
.about-text{
    margin-top: 5rem;
}


.header2{
  height: 75vh;
  width: 100vw;
  z-index: 999;
 
}
.header2 h1{
  text-align: center;
}

.header2 p{
  text-align: center;
}
.line2{
  width: 50px;
 background-color: #16a085;
 position: relative;
height: 3px;
left: 48.5%;
}

.service-sec{
  margin-top: 5rem !important; 
  transform: translateX(13%) !important;
  padding: auto;
}
.service-head{
  transform: translateY(50%) !important;
}
.services-section{
  height: 60vh;
 
}
.card-developer{
  background-color: transparent;
  height: 30vh;
  position: relative;
  border-radius: 5%;
}
.card-developer:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
 
}
.web-logo{
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
.logo-web{
  width: 50px;
  height: 50px;
  
}


.logo-text h5{
text-align: center;
margin-top: 1rem;
}



.header3{
  height: 40vh;

  background-image: linear-gradient(rgba(7, 7, 7, 0.603), rgba(20, 20, 20, 0.815)), url('./images/programming.jpg');
  ;
  background-size: cover;
 background-attachment: fixed;
 background-repeat: no-repeat;
  animation: animSwing 2s ease 0s 1 normal forwards;
}
.skill-language h2{
  text-align: center;
  padding-top: 3rem !important;
  color: white;
}
.line3{
  width: 50px;
 background-color: #6d8df5;
 position: relative;
height: 3px;
left: 48.5%;
}
.lang-logo{
  display: flex;
  justify-content: center;
}
.lang-logo img{
  width: 150px;
  height: 150px;
  margin: 2rem;
}


.header4{
  height: 150vh;
  
 
}
.resume{
  transform: translateY(10%) !important;  
  height: 125vh;
}
.resume-btn{
  transition: all 0.5s;
}
.resume-head{
  transform: translateY(30%) !important;
}
.resume h1{
  text-align: center;

  font-size: 46px;
  font-weight: 700;
}
.resume p{
  margin-top: 2rem;
  text-align: center;
  color: grey;
}
.grad-logo{
  display: flex;
  justify-content: center;
}
.grad-logo img{
  width: 150px;
  height: 150px;
}
.bach-deg{
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  height: 40vh;
  margin: 2rem;
  margin-top: 5rem !important;
}
.graduation h2{
  color: #FFBD39;

}

.deg-img{
  width: 30px;
  height: 30px;
}
.deg-logo{
  display: flex;
align-content: center;
justify-content: center;
margin-top: 2rem;
}
.deg-title{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
margin-top: 1rem;
}
.university{
  text-align: center;
  font-weight: 500;
  color: grey;
  letter-spacing: 2px;
}
.deg-details{
  display: flex;
  justify-content: center;
}

.course-logo{
  display: flex;
  justify-content: center;
}
.course-logo img{
width: 50px;
height: 50px;
}
.web-deg{
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  height: 50vh;
  margin: 2rem;
}
.header5{
  height: 40vh;


  background-image: linear-gradient(rgba(12, 12, 12, 0.267), rgba(20, 20, 20, 0.815)), url('./images/hiremw.jpg');
  ;
  background-size: cover;
 background-attachment: fixed;
 background-repeat: no-repeat;
}

.free-lancer h1{
  text-align: center;
  color: white;
  font-size: 4em;
  padding-top: 6rem;
}
.bold{
   color: #FFBD39;
   font-weight: 900;
}
.btnn{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  }
  

.ui-btn {
  --btn-default-bg: rgb(255, 189, 57);
  --btn-padding: 15px 20px;
  --btn-hover-bg: rgb(255, 189, 57);
  --btn-transition: .3s;
  --btn-letter-spacing: .1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: rgba(0, 0, 0, 0.137);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: black;
  --default-btn-color: #fff;
  --font-size: 16px;
  /* 👆 this field should not be empty */
  --font-weight: 600;
  --font-family: Menlo,Roboto Mono,monospace;
  /* 👆 this field should not be empty */
}

/* button settings 👆 */

.ui-btn {
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
  width: 200px;
}

.ui-btn span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.ui-btn:hover, .ui-btn:focus {
  background: var(--btn-hover-bg);
}

.ui-btn:hover span, .ui-btn:focus span {
  color: var(--hover-btn-color);
}

.ui-btn:hover span::before, .ui-btn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

.header6{
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  

 
background-color: rgba(27, 36, 48, 0.918);
  background-size: cover;
 background-attachment: fixed;
 background-repeat: no-repeat;
}
.bg-white{
  padding-top: 5rem !important;
}
.forme{
  margin: 1rem;
  transform: translateY(10%) translateX(10%);
  
}
.contact{
  height: 80vh;
 transform: translateY(15%);
 width: 70vw;
 border-radius: 1%;
 background-color: white;

 
}
.contact-btn{
  transition: all 0.5s;
}
.textarea{
  background-color: transparent;
}

.forme p{
  margin-top: 5rem;
  margin-left: 1rem;
 
}
.location, .phone, .email{
  margin-left: 1rem;
  line-height: 3rem;

}
.location span, .phone span, .email span{
  margin-left: 1rem;
}
.location svg, .phone svg, .email svg{
  color: #FFBD39;
  font-weight: 900;
}

.form-h1{
  text-align: center;
}
footer{
  background-color:#1B2430; 
  height: 10vh;
  color: white;
  text-align: center;
 
}
footer h4{
  padding-top: 1rem;
}

.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 696;
  box-shadow: 0px 0px 15px #00000027;
  padding: 15px 10px;
  border-radius: 5em;
  width: 15vw;
  position: absolute;
  height: 3vh;
  display: none;
  transform: translateX(-20%);
  width: 30vw;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;

  box-shadow: 0px 0px 4px #00000027;
  transition: 0.3s;
}

.social-button:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg {
  transition: 0.3s;
  height: 20px;
}

.facebook {
  background-color: #3b5998;
}

.facebook svg {
  fill: #f2f2f2;
}

.facebook:hover svg {
  fill: #3b5998;
}

.github {
  background-color: #333;
}

.github svg {
  width: 25px;
  height: 25px;
  fill: #f2f2f2;
}

.github:hover svg {
  fill: #333;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin svg {
  fill: #f2f2f2;
}

.linkedin:hover svg {
  fill: #0077b5;
}

.instagram {
  background-color: #c13584;
}

.instagram svg {
  fill: #f2f2f2;
}

.instagram:hover svg {
  fill: #c13584;
}

.containerrr {
 position: fixed;
 z-index:2;
 transform: scale(0.5);
 top: 1.8%;
}

.labell {
  height: 60px;
  width: 120px;
  background-color: #ffffff;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
    inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
    inset 0 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
    inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
    inset 0 0 0 3px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

.labell:hover {
  -webkit-transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
  transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
}

#checkbox:checked ~ .labell:hover {
  -webkit-transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
  transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
}

#checkbox {
  display: none;
}

#checkbox:checked ~ .labell::before {
  left: 70px;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 70%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.labell::before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #000000;
  background-image: linear-gradient(
    130deg,
    #757272 10%,
    #ffffff 11%,
    #726f6f 62%
  );
  left: 10px;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

























@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{+.";
  }

  35% {
    content: "@}-?";
  }

  40% {
    content: "?{4@%";
  }

  45% {
    content: "=.,^!";
  }

  50% {
    content: "?2@%";
  }

  55% {
    content: "\;1}]";
  }

  60% {
    content: "?{%:%";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}
.containerr {
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: relative;
  margin-top: 2rem;
  
}

.containerr .label {
  font-size: 15px;
  padding-left: 10px;
  position: absolute;
  top: 13px;
  transition: 0.3s;
  pointer-events: none;
}

.input {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  padding: 0px 7px;
  border-radius: 6px;
  color: #0c0c0c;
  font-size: 15px;
  background-color: transparent;
  border: 1px solid black;
  
  z-index: 2;
}

.input:focus {
  border: 2px solid transparent;
  color: #000000;
  /* box-shadow: 3px 3px 10px rgba(0,0,0,1),
  -1px -1px 6px rgba(255, 255, 255, 0.4),
  inset 3px 3px 10px rgba(0,0,0,1),
  inset -1px -1px 6px rgba(255, 255, 255, 0.4); */
}
textarea:focus {
  border: 2px solid transparent;
  color: #000000;
  /* box-shadow: 3px 3px 10px rgba(0,0,0,1),
  -1px -1px 6px rgba(255, 255, 255, 0.4),
  inset 3px 3px 10px rgba(0,0,0,1),
  inset -1px -1px 6px rgba(255, 255, 255, 0.4); */
}


.containerr .input:valid ~ .label,
.containerr .input:focus ~ .label {
  transition: 0.3s;
  padding-left: 2px;
  transform: translateY(-35px);
}

.containerr .input:valid,
.containerr .input:focus {
  box-shadow: 3px 3px 10px rgba(0,0,0,1),
  -1px -1px 6px rgba(255, 255, 255, 0.4),
  inset 3px 3px 10px rgba(0,0,0,1),
  inset -1px -1px 6px rgba(255, 255, 255, 0.4);
} 

 .nvbr button {
  padding: 0;
  margin: 1rem;
  border: none;
  background: none;
}
.service-btn{
  transition: all 0.5s;
}

.nvbr button {
  --primary-color: #fffefe;
  --hovered-color: #c84747;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

.nvbr button p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color)
}

.nvbr button::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.nvbr button p::before {
  position: absolute;
/*   box-sizing: border-box; */
  content: "";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}


.nvbr button:hover::after {
  width: 100%;
}

.nvbr button:hover p::before {
  width: 100%;
}





.myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -10;
display: none;
}




/*===========================================================-----------@keyFarmes---------------------------=======================================================================*/

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInUp {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInUp {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 30%, 0);
  transform: translate3d(0, 30%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 




  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInLeft {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(-5%, 0, 0);
    transform: translate3d(-5%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 
  
    .zoomIn {
      -webkit-animation-name: zoomIn;
      animation-name: zoomIn;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      }
      @-webkit-keyframes zoomIn {
      0% {
      opacity: 0;
      -webkit-transform: scale3d(.9, .9, .9);
      transform: scale3d(.9, .9, .9);
      }
      50% {
      opacity: 1;
      }
      }
      @keyframes zoomIn {
      0% {
      opacity: 0;
      -webkit-transform: scale3d(.9, .9, .9);
      transform: scale3d(.9, .9, .9);
      }
      50% {
      opacity: 1;
      }
      } 



      .slideInRight {
        -webkit-animation-name: slideInRight;
        animation-name: slideInRight;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
       margin-right: 3rem;
        }
        @-webkit-keyframes slideInRight {
        0% {
        -webkit-transform: translateX(110%);
        transform: translateX(110%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
        }
        @keyframes slideInRight {
        0% {
        -webkit-transform: translateX(110%);
        transform: translateX(110%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
        } 

        
        
    

/*=======================================================-------DARK THEME PALLETE-----------------==========================================================================*/
.sec-dark{
  background-color: #1B2430;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
.video{
  display: flex;
}

.back-dark{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
 background-color: rgba(27, 36, 48, 0.671);;
}
.nav-dark{
  background-color: #1B2430;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


/* ==================================---------=====-==========-=MEDIA QUERY================---------------------------------------=========
@media (max-width:37.5em){


}
@media (max-width:56.255em){
html{
  font-size: 50%;
}
p{
  font-size: 50%;
}
}
@media (max-width:75em){
  html{
    font-size: 56.25%;
  }
  p{
    font-size: 50%;
  }

}
@media (max-width:112.5em){
html{
  font-size: 75%;
}
p{
  font-size: 50%;
}
} */

@media (max-width:375px){
  .nvbr{
    display: none;

  }


  nav{
    height: 4rem;
  }
  html{
    overflow-x: hidden;
  }
 
 .header0{
  height: 50vh;
 }
  p{
    font-size: 12px;
  }
  .header0 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(20, 20, 20, 0.644)), url('./images/mainbgk.jpg');

    background-size: contain;
  }
  .labell{
   transform: scale(0.8);
  }
  .Anime-text{
    width: 100%;
    font-size: 16px;
    margin-top: 1rem;
  }
  .content__container__list__item {
    line-height: 40px;
    margin: 0;
   
  }
  .content__container {
    font-weight: 300;
    overflow: hidden;
    height: 40px;
   
  }
  
  .content__container__text {
    display: inline;
    font-size: 16px;
  padding-left: 1.5rem;
  font-family: 'Source Code Pro', monospace;
  }
  .content__container__list {
    margin-top: 0;
    padding-left:70px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    font-family: 'Source Code Pro', monospace;
  }
  .content__container:after {
    content: "]";
    position: absolute;
    right:110px;
    font-size: 20px;
  }
  .content__container:before {
    content: "[";
    left: 50px;
    font-size: 20px;
  }
  .type1{
    width: 150px;
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%,-50%);
  }
  .social-buttons{
    width: 100%;
   margin: 0;
   transform: scale(0.6) !important;
  position: absolute;
  left: 20%;
  }
   a svg{
    width: 50px;
    height: 50px;
  }
  .github{
    width: 50px;
    height: 50px;
  }
  .header1{
    
    height: 160vh;
    margin-bottom: 10rem;
  }
  .profile-sec{
    display: block;
  }
  .profile-pic{
transform: translate(40%);
  }
  .about-sec{
    height: 150vh;
  transform: translateY(5%);
  
  }
.skillcontainer{
  transform: scale(0.9) !important;
}
.about-me-text{
  transform: translateY(-5%);
}
.about-text p{
  font-size: 12px;
}

.card-developer{
  width: 100%;
}
.header2{
margin-bottom: 10rem;
  height: 100vh;
}
.services-section{
  height: 100vh;
}
.card-developer{
  transform: translate(-13%);
  height: 25vh;
}

.dev-para p{
  font-size: 12px;  
}
.service-head p{
  font-size: 12px;
}

.line2{
  transform: translate(-40%);
}
.lang-logo{
  display:flex;
  margin-top: 5rem;
}
.lang-logo img{
  width: 60px;
  height: 60px;
  margin: 0.5rem;
}
.header3{
  margin-bottom: 0;
}
.resume{
  height: 250vh;

}

.containerrr {
  position: fixed;
  z-index:2;
  transform: scale(0.5);
  top: -2%;
  left:-5%;
 }
.header4{

  height: 280vh;
  
}
.course-logo{
  transform: scale(0.);
}
.bach-deg{
  height: 70;
}
.header5{
  margin-bottom: 
}
.free-lancer{
  transform: scale(0.8);
 
}
.freelance-sec h1{
  padding: 1rem !important;
  font-size: 40px;


}

.header6{
  margin-bottom: 40rem;
}
footer h4{
  font-size: 16px !important;
}

.contact {
  display: block;
  width: 100vw;
  margin: 0;
  height: 155vh;
}
.forme{
 width: 50vw !important;
}
.contact-form{
  width: 80vw !important;
  margin: 0;
  padding: 0;
}
 .touch-form{
  width: 80vw !important;
  margin-top: 6rem !important;
 
 }
 .header0{
  width: 100%;
 }


}

 /*=================================================----------------@media 425px---------------------=========================================================================*/

 @media only screen and (max-width: 425px) and (min-width: 376px)  {

  .nvbr{
    display: none;

  }
  .header0 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(20, 20, 20, 0.644)), url('./images/mainbgk.jpg');

    background-size: contain;
  }
  html{
    overflow-x: hidden;
  }
  nav{
    height: 4rem;
  }
 
 .header0{
  height: 50vh;
 }
  p{
    font-size: 12px;
  }

  .labell{
   transform: scale(0.8);
  }
  .Anime-text{
    width: 100%;
    font-size: 16px;
    margin-top: 1rem;
  }
  .content__container__list__item {
    line-height: 40px;
    margin: 0;
    width: ;
  }
  .content__container {
    font-weight: 300;
    overflow: hidden;
    height: 40px;
   
  }
  
  .content__container__text {
    display: inline;
    font-size: 16px;
  padding-left: 1.5rem;
  font-family: 'Source Code Pro', monospace;
  }
  .content__container__list {
    margin-top: 0;
    padding-left:70px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    font-family: 'Source Code Pro', monospace;
  }
  .content__container:after {
    content: "]";
    position: absolute;
    right:110px;
    font-size: 20px;
  }
  .content__container:before {
    content: "[";
    left: 50px;
    font-size: 20px;
  }
  .type1{
    width: 150px;
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%,-50%);
  }
  .social-buttons{
    width: 100%;
   margin: 0;
   transform: scale(0.6) !important;
  position: absolute;
  left: 20%;
  }
   a svg{
    width: 50px;
    height: 50px;
  }
  .github{
    width: 50px;
    height: 50px;
  }
  .header1{
    
    height: 150vh;
    margin-bottom: 10rem;
  }
  .profile-sec{
    display: block;
  }
  .profile-pic{
transform: translate(55%);
  }
  .about-sec{
    height: 140vh;
  transform: translateY(5%);
  
  }
.skillcontainer{
  transform: scale(0.9) !important;
}
.about-me-text{
  transform: translateY(-5%);
}
.about-text p{
  font-size: 12px;
}

.card-developer{
  width: 100%;
}
.header2{
margin-bottom: 10rem;
  height: 100vh;
}
.services-section{
  height: 100vh;
}
.card-developer{
  transform: translate(-13%);
  height: 25vh;
}

.dev-para p{
  font-size: 12px;  
}
.service-head p{
  font-size: 12px;
}

.line2{
  transform: translate(-40%);
}
.lang-logo{
  display:flex;
  margin-top: 5rem;
}
.lang-logo img{
  width: 60px;
  height: 60px;
  margin: 0.5rem;
}
.header3{
  height: 30vh;
}
.resume{
  height: 230vh;

}

.containerrr {
  position: fixed;
  z-index:2;
  transform: scale(0.5);
  top: -2%;
  left:-5%;
 }
.header4{
 height: 280vh;
  
}
.course-logo{
  transform: scale(0.);
}
.bach-deg{
  height: 70;
}
.header5{
  margin-bottom: 
}
.free-lancer{
  transform: scale(0.8);
 
}
.freelance-sec h1{
  padding: 1rem !important;


}

.header6{
  margin-bottom: 31rem;
}

.contact {
  display: block;
  width: 100vw;
  margin: 0;
  height: 125vh;
}
.forme{
 width: 50vw !important;
}
.contact-form{
  width: 80vw !important;
  margin: 0;
  padding: 0;
}
 .touch-form{
  width: 80vw !important;
  margin-top: 6rem !important;
 
 }

 footer h4{

font-size: 16px;
 }
 .header0{
  width: 100%;

 }
 }

 /*===============================================-----------------------------@media 768px---------------------===========================================================*/
 
 @media only screen and (max-width: 768px) and (min-width: 426px)  {

  .nvbr button{
    display: none;

  }
  html{
    overflow-x: hidden;
  }
 
 .header0{
  height: 50vh;
 }
  p{
    font-size: 18px !important;
  }
  h2{
    font-weight: 700 !important;
    font-size: 26px !important;
  }

 
  .Anime-text{
    width: 100%;
    font-size: 16px;
    margin-top: 1rem;
    position: absolute;
    left: 40%;
    font-size: 26px;

  }
  .content__container__list__item {
    line-height: 40px;
    margin: 0;
    
  }
  .content__container {
    font-weight: 300;
    overflow: hidden;
    height: 40px;
   
  }
  .text{
    position: absolute;
    left: 40% !important;
  }
  
  .content__container__text {
    display: inline;
    font-size: 20px;
  padding-left: -2rem;
  font-family: 'Source Code Pro', monospace;
  }
  .content__container__list {
    margin-top: 0;
    padding-left:70px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    font-family: 'Source Code Pro', monospace;
  }
  .content__container:after {
    content: "]";
    position: absolute;
    right:50%;
    font-size: 20px;
  }
  .content__container:before {
    content: "[";
    left: -0%;
    font-size: 20px;
  }
  .type1{
    width: 150px;
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%,-50%);
  }
  .social-buttons{
    width: 100%;
   margin: 0;
  
  position: absolute;
  left: 20%;
  }
   
  .github{
    width: 50px;
    height: 50px;
  }
  .header1{
    
    height: 230vh;
    
  }
  .profile-sec{
    display: block;
    justify-content: center;
  }
  .profile-pic{
width: 300px;
height: 300px;
  }
  .details{
    font-size: 20px;
  }
  h5{
    font-weight: 700 !important;
  }
  .language{
    width: 80vw;
  }
  .logo{
    margin:auto;
    width: 80px;
    height: 80px;
  }
  .about-sec{
    height: 190vh;
  transform: translateY(5%);
  
  }
.skillcontainer{
  width: 100%;
}
.about-me-text{
  transform: translateY(-5%);
  margin-top: 5rem !important;
}
.about-text p{
  font-size: 12px;
}

.card-developer{
  width: 100%;
}
.header2{

  height: 130vh;
 
}
.services-section{
  height: 100vh;
}
.card-developer{
  transform: translate(-13%);
  height: 25vh;
}

.dev-para p{
  font-size: 12px;  
}
.service-head p{
  font-size: 12px;
}

.line2{
  transform: translate(-40%);
}
.lang-logo{
  display:flex;
  margin-top: 5rem;
}
.lang-logo img{
  width: 100px;
  height: 100px;
  margin: 0.5rem;
}.language
.header3{
  height: 30vh;
}
.resume{
  height: 230vh;

}


.header4{
 height: 280vh !important;
  
}
.course-logo{
  transform: scale(0.);
}
.bach-deg{
  height: 70;
}



.header6{
  margin-bottom: 1rem;
  height: 150vh;
}

.contact {
  display: block;
  width: 100vw;
  margin: 0;
  height: 125vh;
}
.forme{
 width: 50vw !important;
}
.contact-form{
  width: 80vw !important;
  margin: 0;
  padding: 0;
}
 .touch-form{
  width: 80vw !important;
  margin-top: 6rem !important;
 
 }
 .header0{
  width: 100%;

 }
 }




 /*===============================================-----------------------------@media 1024px---------------------===========================================================*/
 
 @media only screen and (max-width: 1024px) and (min-width: 769px)  {

  .nvbr button{
  font-size: 16px;

  }
  .nvbr{
    width: 80vw;
  }
  html{
    overflow-x: hidden;
  }
 
 .header0{
  height: 100vh;
 }
  p{
    font-size: 16px !important;
  }
  h2{
    font-weight: 700 !important;
    font-size: 26px !important;
  }
  
 
  .Anime-text{
    width: 100%;
    font-size: 16px;
    margin-top: 1rem;
    position: absolute;
    left: 50%;
    font-size: 26px;

  }
  .content__container__list__item {
    line-height: 40px;
    margin: 0;
    
  }
  .content__container {
    font-weight: 300;
    overflow: hidden;
    height: 40px;
   
  }
  .text{
    position: absolute;
    left: 43% !important;
  }
  
  .content__container__text {
    display: inline;
    font-size: 20px;
  padding-left: -2rem;
  font-family: 'Source Code Pro', monospace;
  }
  .content__container__list {
    margin-top: 0;
    padding-left:70px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    font-family: 'Source Code Pro', monospace;
  }
  .content__container:after {
    content: "]";
    position: absolute;
    right:63%;
    font-size: 20px;
  }
  .content__container:before {
    content: "[";
    left: -0%;
    font-size: 20px;
  }
  .type1{
    width: 200px;
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%,-50%);
  }
  .header1{
  
    height: 210vh !important;
  }

  .profile-sec{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .profile-pic{
width: 300px;
height: 300px;
  }
  .details{
    font-size: 20px;
  }
  .about-sec{
   height: 150vh;
   display: block !important;
  }
  .header1{
    height: 120vh;
 
  }

  .About ,.about-text{
    width: 90vw !important;
  }
  .contact{
    width: 100%;
  }
  .language{
    width: 100vw !important;
   
  }
  .logo{
    width: 80px;
    height: 80px;
  }
  .skillcontainer{
    display: flex;
    justify-content: center !important;
    width: 100vw !important;
  }

  
 }
 @media only screen and (max-width: 900px) and (min-width: 769px) {




 .nvbr button{
  font-size: 16px;

  }
  .nvbr{
    width: 80vw;
  }
  html{
    overflow-x: hidden;
  }
 
 .header0{
  height: 100vh;
 }
  p{
    font-size: 16px !important;
  }
  h2{
    font-weight: 700 !important;
    font-size: 26px !important;
  }
  
 
  .Anime-text{
    width: 100%;
    font-size: 16px;
    margin-top: 1rem;
    position: absolute;
    left: 50%;
    font-size: 26px;

  }
  .content__container__list__item {
    line-height: 40px;
    margin: 0;
    
  }
  .content__container {
    font-weight: 300;
    overflow: hidden;
    height: 40px;
   
  }
  .text{
    position: absolute;
    left: 43% !important;
  }
  
  .content__container__text {
    display: inline;
    font-size: 20px;
  padding-left: -2rem;
  font-family: 'Source Code Pro', monospace;
  }
  .content__container__list {
    margin-top: 0;
    padding-left:70px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    font-family: 'Source Code Pro', monospace;
  }
  .content__container:after {
    content: "]";
    position: absolute;
    right:63%;
    font-size: 20px;
  }
  .content__container:before {
    content: "[";
    left: -0%;
    font-size: 20px;
  }
  .type1{
    width: 200px;
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%,-50%);
  }
  .about-sec{
   height: 75vh;


  
  }
  .header1{
    height: 120vh;
 
  }
  .contact{
    width: 100%;
  }

}







@media (min-width:1024px) and (max-width:1440px){
  html{
    overflow-x: hidden;
  }
  .contact{
    width: 90vw;
  }
  .Anime-text{
    width: 100%;
    font-size: 16px;
    margin-top: 1rem;
    position: absolute;
    left: 54%;
    font-size: 26px;

  }
  .content__container__list__item {
    line-height: 40px;
    margin: 0;
    
  }
  .content__container {
    font-weight: 300;
    overflow: hidden;
    height: 40px;
   
  }
  .text{
    position: absolute;
    left: 43% !important;
  }
  
  .content__container__text {
    display: inline;
    font-size: 20px;
  padding-left: -2rem;
  font-family: 'Source Code Pro', monospace;
  }
  .content__container__list {
    margin-top: 0;
    padding-left:70px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    font-family: 'Source Code Pro', monospace;
  }
  .content__container:after {
    content: "]";
    position: absolute;
    right:73%;
    font-size: 20px;
  }
  .content__container:before {
    content: "[";
    left: -0%;
    font-size: 20px;
  }
  .type1{
    width: 200px;
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%,-50%);
  }
}



























